<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="料理を記録する日記.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <料理を記録する日記.Properties.Settings>
            <setting name="設定" serializeAs="String">
                <value />
            </setting>
            <setting name="設定1" serializeAs="String">
                <value />
            </setting>
            <setting name="設定2" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="設定3" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </料理を記録する日記.Properties.Settings>
    </userSettings>
</configuration>